  <div class="allbox">
    <div class="title">
      <h1>きょうのランチは<br>
      どこに行こう？</h1>
    </div>

    <div class="checkbox">
      <p>
        <input type="checkbox" name="genre" value="1">肉系
        <input type="checkbox" name="genre" value="2">魚系
        <input type="checkbox" name="genre" value="3">野菜系
        <input type="checkbox" name="genre" value="4">中華系
        <input type="checkbox" name="genre" value="5">イタリアン系
      </p>
    </div>

    <div class="selectbox">
      <ul>
        <li class="selectbox_list">お店の名前</li>
      <ul>
    </div>
  </div>

    <div class="btns">
      <p>
        <button class="selectbtn">START</button>
      </p>
    </div>

    <button class="setbtn">
      <%= link_to 'お店登録', "/roulette/:id/edit" %>
    </button>

  <footer>
    <small>Copyright (c) MasatoOkuwaki All Rights Reserved.</small>
  </footer>
</div>
