  <div class="allbox">
    <div class="title">
      <h1>きょうのランチはどこに行こう？</h1>
    </div>

    <div class="checkbox">
      <p>
        <input type="checkbox" name="genre" value="1">肉系
        <input type="checkbox" name="genre" value="2">魚系
        <input type="checkbox" name="genre" value="3">野菜系
        <input type="checkbox" name="genre" value="4">中華系
        <input type="checkbox" name="genre" value="5">イタリアン系
      </p>
    </div>

    <div class="roulette" style="display:none;">
      <img src="http://example.com/star.png"/>
      <img src="http://example.com/flower.png"/>
      <img src="http://example.com/coin.png"/>
      <img src="http://example.com/mshroom.png"/>
      <img src="http://example.com/chomp.png"/>
    </div>

    <div class="selectbox">
      <ul>
        <li class="selectbox_list">お店の名前</li>
      <ul>
    </div>
  </div>

    <div class="btns">
      <button class="selectbtn" >START</button>
      <button class="selectbtn2"><%= link_to 'お店登録', "/roulette/:id/edit", class: "selectbox_a" %></button>
    </div>

    <div id="move-line1"></div>

  <footer>
    <small>Copyright (c) MasatoOkuwaki All Rights Reserved.</small>
  </footer>
</div>
