  <div class="allbox">
    <div class="title">
      <h1>ランチルーレット</h1>
    </div>

    <div class="checkbox">
      <p>
        <input type="checkbox" name="genre" value="1">肉系
        <input type="checkbox" name="genre" value="2">魚系
        <input type="checkbox" name="genre" value="3">野菜系
        <input type="checkbox" name="genre" value="4">中華系
        <input type="checkbox" name="genre" value="5">イタリアン系
      </p>
    </div>

    <div class="selectbox">
      <ul>
        <li class="selectbox_list">きょうのランチは？？</li>
      <ul>
    </div>
  </div>

    <div class="btns">
      <button class="selectbtn" >START</button>
      <button class="selectbtn2"><%= link_to 'お店リスト追加', "/roulette/:id/edit", class: "selectbox_a" %></button>
    </div>
</div>
