body {
  font-family: 'Futura', Tahoma, Geneva, Verdana, sans-serif;
  color: #696969;
  margin: 0;
  background: url("breakfast-2078286_1280.png");
  background-size: cover;
}

.wrapper {
  background: rgba(250, 200, 200, 0.8);
  background-size: cover;
  height: 100vh;
}

header {
  background: #ffffa3;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #ff6060;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
}

// .allbox {
//   background: #fff;
//   width: 60%;
//   margin: 0 auto;
//   display: flex;
//   border-radius: 30px;
//   box-shadow: 0px 3px 10px #fff;
// }

.setbtn {
  background: #ff6060;
  width: 30%;
  margin: 0 auto 30px auto;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
  border-radius: 30px;
}

header h1 {
  margin: 0;
}

.title {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  border-radius: 30px;
}

.title h1 {
  margin: 0px auto 20px auto;
  padding-top: 20px;
  color: #fff;
  font-size: 90px;
  text-shadow: 0px 3px 6px #696969;
}

.checkbox {
  background: #fff;
  width: 60%;
  margin: 0 auto 30px auto;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
  border-radius: 30px;
}

.checkbox p {
  font-size: 20px;
}

.checkbox input {
  margin-left: 10px;
}

.selectbox {
  background: #fff;
  font-size: 30px;
  height: 160px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
  border-radius: 30px;
}

.selectbox_list {
  text-align: center;
  text-decoration:none;
}

.selectbox li {
  list-style-type: none
}

.btns p {
  font-family: 'Futura', Tahoma, Geneva, Verdana, sans-serif;
}

.selectbtn {
  background: #ffffa3;
  color: #ff6060;
  text-align: center;
  font-family: 'Futura', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 33px;
  width: 300px;
  height: 50px;
  margin: 30px auto;
  border-radius: 50%;
  height: 260px;
  width: 260px;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
  box-shadow: 0px 3px 10px #333333;
}

footer {
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  position: relative;
  bottom: 10px;
}
