html {
  font-size: 62.5%;
}

body {
  font-family: 'Futura', Tahoma, Geneva, Verdana, sans-serif;
  color: #696969;
  margin: 0;
  background: #fad186;
  background-size: cover;
}

header {
  background: #ffffa3;
  width: 100%;
  height: 60px;
  text-align: center;
  color: #ff6060;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
}

// .allbox {
//   background: #fff;
//   width: 60%;
//   margin: 0 auto;
//   display: flex;
//   border-radius: 30px;
//   box-shadow: 0px 3px 10px #fff;
// }

.image-main {
  text-align: center;
  padding: 10px 10px 10px 0;
}

.setbtn {
  width: 60%;
  margin: 0 auto 30px auto;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
  border-radius: 10px;
}

header h1 {
  margin: 0;
  font-size: 3rem;
}

.title {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
}

.title h1 {
  margin: 0px auto 20px auto;
  padding-top: 20px;
  color: #fff;
  font-size: 5rem;
}

.checkbox {
  background: #fff;
  width: 60%;
  margin: 0 auto 30px auto;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
  border-radius: 10px;
}

.checkbox p {
  font-size: 2rem;
}

.checkbox input {
  margin-left: 10px;
}

.selectbox {
  color: #ff6060;
  background: #fff;
  text-decoration: none;
  font-size: 4rem;
  padding: 0;
  height: 160px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
  border-radius: 10px;
}

.selectbox_js {
  text-decoration: none;
  padding: 0;
}

.selectbox ul {
  padding: 0;
}

.selectbox_list {
  text-align: center;
  padding: 0;
}

.selectbox li {
  list-style-type: none;
}

.selectbox a {
  text-decoration: none;
}

.btns p {
  font-family: 'Futura', Tahoma, Geneva, Verdana, sans-serif;
}

.selectbtn {
  background: #ffffa3;
  color: #ff6060;
  text-align: center;
  font-family: 'Futura', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4rem;
  width: 300px;
  height: 50px;
  margin: 30px auto;
  border-radius: 50%;
  height: 260px;
  width: 260px;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
  box-shadow: 0px 3px 10px #333333;
}

.selectbtn2 {
  background: #ffffa3;
  color: #ff6060;
  text-align: center;
  font-family: 'Futura', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4rem;
  width: 300px;
  height: 50px;
  margin: 30px auto;
  border-radius: 50%;
  height: 260px;
  width: 260px;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
  box-shadow: 0px 3px 10px #333333;
}

#move-line1 {
  position: absolute;
  top: 60px;
  left: 0;
  width: 0;
  height: 2px;
  background: #ff6060;
}

footer {
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  position: relative;
  bottom: 10px;
}
